{%- unless include.author.team -%}
	<p>
		<div class="author-avatar-pres">
			<div>
				<img
					src="{{ '/assets/images/authors/' | append: include.author.image | relative_url }}"
					title="{{ include.author.title }}">
			</div>
			<div>
				由<a href="{{ include.author.homepage }}">@{{ include.author.title }}</a>制作的汉化项目
			</div>
		</div>
	</p>
{%- endunless -%}

{{ content }}

{%- assign tls = site.translations
	| where_exp: 'item', 'item.authors contains include.author.slug'
-%}
{%- for tl in tls -%}
	{{ tl.output }}
{%- endfor -%}
